*.DS_Store

# frontend #

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local

# Editor directories and files
frontend/.vscode/*
frontend/!.vscode/extensions.json
frontend/.idea
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

# backend #

# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
backend/*.exe
backend/*.exe~
backend/*.dll
backend/*.so
backend/*.dylib

# Test binary, built with `go test -c`
backend/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
backend/*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
backend/go.work
backend/go.work.sum

# env file
.env

# test floder
/zip/